body {
    font-family: "Rubik", "Arial", sans-serif;
    color: #fff;
    background-color: #222F33;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    display: block;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
}